# Swiggy Restaurant Recommendation System

## import data

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("swiggy.csv")
df

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json
...,...,...,...,...,...,...,...,...,...,...,...
148536,553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",21522053000452,https://www.swiggy.com/restaurants/the-food-de...,"The Food Delight, 94MC+X35, New Singhania Naga...",Menu/553122.json
148537,562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,license,https://www.swiggy.com/restaurants/maitri-food...,"MAITRI FOODS & BEVERAGES, POLIC MITRYA SOCIETY...",Menu/562647.json
148538,559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",21522251000378,https://www.swiggy.com/restaurants/cafe-bella-...,"Cafe Bella Ciao, SHOP NO 2 NEMANI MARKET SBI S...",Menu/559435.json
148539,418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,21521251000241,https://www.swiggy.com/restaurants/grill-zilla...,"GRILL ZILLA, SHO NO 2/6, POSTEL GROUND CHOWPAT...",Menu/418989.json
148540,447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,21521251000634,https://www.swiggy.com/restaurants/lazeez-kitc...,"Lazeez kitchen, 94G3+2RR, Wadgaon, Yavatmal, M...",Menu/447770.json

## Data Cleaning

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [4]:
df.set_index("id", inplace=True)
df.drop(["lic_no","link","address","menu"], axis=1, inplace=True)
df

,name,city,rating,rating_count,cost,cuisine
id,,,,,,
567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...
553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks"
562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas
559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks"
418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental
447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas

In [5]:
df.duplicated().sum()

np.int64(35)

In [6]:
df.drop_duplicates(inplace=True)

In [177]:
for i in df.columns:
    if df[i].isnull().sum() > 0:
        print(i,":", df[i].isnull().sum())

name : 61
rating : 61
rating_count : 61
cost : 106
cuisine : 74

In [7]:
df1 = df.loc[df["name"].isnull()]
df1

       name                       city rating rating_count cost cuisine
id
397961  NaN  Greater Mohali,Chandigarh    NaN          NaN  NaN     NaN
308071  NaN        West Chd,Chandigarh    NaN          NaN  NaN     NaN
170889  NaN       South Chd,Chandigarh    NaN          NaN  NaN     NaN
390394  NaN        George Town,Chennai    NaN          NaN  NaN     NaN
363495  NaN      OMR Perungudi,Chennai    NaN          NaN  NaN     NaN
...     ...                        ...    ...          ...  ...     ...
256827  NaN                     Satara    NaN          NaN  NaN     NaN
567595  NaN                   Shillong    NaN          NaN  NaN     NaN
116615  NaN                 Shivamogga    NaN          NaN  NaN     NaN
401760  NaN                      Sirsa    NaN          NaN  NaN     NaN
463812  NaN         Thiruvananthapuram    NaN          NaN  NaN     NaN

[61 rows x 6 columns]

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 61 entries, 397961 to 463812
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          0 non-null      object
 1   city          61 non-null     object
 2   rating        0 non-null      object
 3   rating_count  0 non-null      object
 4   cost          0 non-null      object
 5   cuisine       0 non-null      object
dtypes: object(6)
memory usage: 3.3+ KB

In [9]:
df.dropna(subset=['name'], inplace=True)

for i in df.columns:
    if df[i].isnull().sum() > 0:
        print(i,":", df[i].isnull().sum())

cost : 45
cuisine : 13

In [10]:
df.dropna(subset=['cuisine'], inplace=True)

for i in df.columns:
    if df[i].isnull().sum() > 0:
        print(i,":", df[i].isnull().sum())

cost : 44

In [11]:
df["cost"] = df["cost"].ffill()

for i in df.columns:
    if df[i].isnull().sum() > 0:
        print(i,":", df[i].isnull().sum())

In [183]:
df

,name,city,rating,rating_count,cost,cuisine
id,,,,,,
567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas"
531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery"
158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages
187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian"
543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food"
...,...,...,...,...,...,...
553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks"
562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas
559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks"
418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental
447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas

In [12]:
df["city"].unique()

array(['Abohar', 'Adilabad', 'Adityapur', 'Adoni', 'Agartala', 'Agra',
       'Vastrapur,Ahmedabad', 'GOTA,Ahmedabad',
       'Paldi & Ambawadi,Ahmedabad', 'Ghatlodia,Ahmedabad',
       'Bopal,Ahmedabad', 'Gandhinagar,Ahmedabad', 'LalDarwaja,Ahmedabad',
       'Naranpura,Ahmedabad', 'Navrangpura,Ahmedabad',
       'Science City,Ahmedabad', 'Maninagar,Ahmedabad',
       'Chandkheda,Ahmedabad', 'Ahmednagar', 'Aizawl', 'Ajmer', 'Akola',
       'Alappuzha', 'Aligarh', 'Alipurduar', 'Allahabad', 'Alwar',
       'Ambala', 'Ambikapur', 'Ambur', 'Amravati', 'Amreli', 'Amritsar',
       'Anand', 'Anantapur', 'Ankleshwar', 'Arakkonam', 'Arambagh',
       'Arrah', 'Aruppukottai', 'Asansol', 'Aurangabad',
       'Aurangabad_bihar', 'Azamgarh', 'Baddi', 'Bagalkot', 'Bagdogra',
       'Bahadurgarh', 'Bahraich', 'Balaghat', 'Balangir', 'Balasore',
       'Ballari', 'Balrampur', 'Balurghat', 'Banda',
       'Yeshwanthpur,Bangalore', 'Geddalahalli,Bangalore',
       'Koramangala,Bangalore', 'JP Nagar,Bangalore',
       'Mahadevpura,Bangalore', 'HSR,Bangalore', 'Arekere,Bangalore',
       'Indiranagar,Bangalore', 'Banashankari,Bangalore',
       'Whitefield,Bangalore', 'Nagavara & Hennur,Bangalore',
       'Kammanahalli/Kalyan Nagar,Bangalore',
       'Kumaraswamy Layout & Uttarahalli,Bangalore', 'BTM,Bangalore',
       'Battarahalli,Bangalore', 'Basaveshwaranagar,Bangalore',
       'Frazer Town,Bangalore', 'Sanjay Nagar, New BEL Road,Bangalore',
       'Yelahanka,Bangalore', 'Majestic,Bangalore',
       'Kanakapura Road,Bangalore', 'R.T. Nagar,Bangalore',
       'Kadugodi,Bangalore', 'Marathahalli,Bangalore',
       'Rajarajeshwari Nagar,Bangalore', 'CV Raman Nagar,Bangalore',
       'Electronic City,Bangalore', 'Rajajinagar,Bangalore',
       'Kadubeesanahalli,Bangalore', 'Shantinagar,Bangalore',
       'Jayanagar,Bangalore', 'Central Bangalore,Bangalore', 'Bantwal',
       'Bapatlachirala', 'Baramati', 'Baran', 'Bardhaman', 'Bardoli',
       'Bareilly', 'Barmer', 'Barnala', 'Barshi', 'Barwani', 'Basirhat',
       'Basti', 'Batala', 'Bathinda', 'Beawar', 'Beed', 'Begusarai',
       'Bela-pratapgarh', 'Belgaum', 'Berhampore', 'Berhampur', 'Bettiah',
       'Betul', 'Bhadohi', 'Bhadrachalam', 'Bhagalpur', 'Bhandara',
       'Bharabanki', 'Bharatpur', 'Bharuch', 'Bhatkal', 'Bhavnagar',
       'Bhawanipatna', 'Bhilai', 'Bhilwara', 'Bhimavaram', 'Bhind',
       'Bhiwadi', 'Bhiwani', 'Bhopal', 'Bhubaneswar', 'Bhuj', 'Bhusawal',
       'Bidar', 'Biharsharif', 'Bijapur', 'Bijnor', 'Bikaner', 'Bilaspur',
       'Bilimora', 'Bodhan-rural', 'Bodinayakanur', 'Boisar', 'Bokaro',
       'Bolpur', 'Bongaigaon', 'Bongaon', 'Budaun', 'Budhwal',
       'Bulandshahr', 'Buldana', 'Bundi', 'Burhanpur', 'Buxar',
       'Central-goa', 'Chakdaha', 'Chalakkudy', 'Chalisgaon', 'Chandausi',
       'Greater Mohali,Chandigarh', 'Zirakpur,Chandigarh',
       'East Chd,Chandigarh', 'North Mohali,Chandigarh',
       'South Mohali,Chandigarh', 'West Chd,Chandigarh',
       'Panchkula,Chandigarh', 'South Chd,Chandigarh', 'Chandrapur',
       'Changanassery', 'Chengannur', 'Poonamallee,Chennai',
       'OMR Navalur,Chennai', 'Mylapore,Chennai', 'Guindy,Chennai',
       'Annanagar,Chennai', 'Chrompet,Chennai', 'Urapakkam,Chennai',
       'George Town,Chennai', 'KK Nagar,Chennai', 'OMR Perungudi,Chennai',
       'Kilpauk,Chennai', 'Vadapalani,Chennai', 'Perambur,Chennai',
       'Royapettah,Chennai', 'Tambaram,Chennai', 'Padur,Chennai',
       'Velachery,Chennai', 'Nungambakkam,Chennai', 'Avadi,Chennai',
       'Porur,Chennai', 'Ramapuram,Chennai', 'Perumbakkam,Chennai',
       'ECR-Kottivakkam,Chennai', 'Egmore,Chennai', 'Arumbakkam,Chennai',
       'Madipakkam,Chennai', 'Ambattur,Chennai',
       'Mahindra World City,Chennai', 'Alwarpet,Chennai',
       'Mogappair,Chennai', 'Iyyapanthangal,Chennai',
       'Medavakkam,Chennai', 'Villivakkam,Chennai', 'Karappakam,Chennai',
       'Royapuram,Chennai', 'Adyar,Chennai', 'T Nagar,Chennai',
       'Purasawalkam,Chennai', 'Cherthala', 'Chhapra', 'Chhatarpur',
       'Chhindwara', 'Chidambaram', 'Chikhli', 'Chikkaballapur',
       'Chikmagalur', 'Chiplun', 'Chitradurga', 'Chittoor', 'Chittorgarh',
       'Chopda', 'Churu', 'Peelamedu,Coimbatore', 'Hopes,Coimbatore',
       'Race Course,Coimbatore', 'Sai Baba Colony,Coimbatore',
       'Gandhipuram,Coimbatore', 'Saravanampatti,Coimbatore',
       'Ramanathapuram,Coimbatore', 'Coi_Ganapathy,Coimbatore',
       'Cooch-behar', 'Cuddalore', 'Cuttack', 'Dahanu', 'Dahod', 'Daman',
       'Darbhanga', 'Darjeeling', 'Dausa', 'Davanagere',
       'Chukkuwala,Dehradun', 'Hathibarkala,Dehradun',
       'Race Course Dehradun,Dehradun', 'Jakhan,Dehradun', 'Dehri',
       'GTB Nagar,Delhi', 'Jasola,Delhi', 'Greater Noida,Delhi',
       'Mayur Vihar,Delhi', 'BBK_MayurVihar,Delhi', 'Laxmi Nagar,Delhi',
       'Punjabi Bagh,Delhi', 'Old Delhi,Delhi', 'Khan Market,Delhi',
       'Greater Kailash 2,Delhi', 'Ashok Vihar,Delhi',
       'Noida Expressway,Delhi', 'South Extension,Delhi',
       'Greater Kailash New,Delhi', 'Vasant Kunj,Delhi',
       'Uttam Nagar,Delhi', 'Dilshad Gardens,Delhi',
       'Connaught Place,Delhi', 'South Campus,Delhi', 'Rohini,Delhi',
       'BBK_Chattarpur,Delhi', 'Chattarpur,Delhi', 'Lajpat Nagar,Delhi',
       'Kirti Nagar,Delhi', 'Indirapuram,Delhi', 'Dwarka,Delhi',
       'Rajouri Garden,Delhi', 'NSP,Delhi', 'Malviya Nagar,Delhi',
       'Sector 18,Delhi', 'Deoghar', 'Dewas', 'Dhanbad', 'Dhar',
       'Dharamshala', 'Dharmapuri', 'Dharwad', 'Dhoraji', 'Dhule',
       'Dibrugarh', 'Dimapur', 'Dindigul', 'Diu', 'Doddaballapura',
       'Duliajan', 'Dumka', 'Durgapur', 'Eluru', 'Erode', 'Etawah',
       'Faizabad', 'Faridabad', 'Faridkot', 'Farrukhabad', 'Fatehabad',
       'Fatehgarh-sahib', 'Fatehpur', 'Fazilka', 'Firozabad', 'Firozpur',
       'Gadag-betigeri', 'Gadwal', 'Gandhidham', 'Gangapur-city',
       'Gangtok', 'Gauriganj', 'Gaya', 'Giridih', 'Godhra', 'Gokak',
       'Golaghat', 'Gonda', 'Gondal', 'Gondia', 'Gopalganj', 'Gorakhpur',
       'Gudivada', 'Guna', 'Guntakal', 'Guntur', 'Gurdaspur',
       'Greenfields_FBD,Gurgaon', 'Sector-14,Gurgaon',
       'Sector 15_FBD,Gurgaon', 'New DLF Phase 4,Gurgaon',
       'NIT_FBD,Gurgaon', 'New Sohna Road,Gurgaon',
       'Old Gurgaon (Zone 6),Gurgaon', 'sohna road,Gurgaon',
       'New Cyber City,Gurgaon', 'Paltan Bazaar,Guwahati',
       'Ganeshguri,Guwahati', 'Gwalior', 'Habra', 'Haldia', 'Haldwani',
       'Halol', 'Hampi', 'Hansi', 'Hanumangarh', 'Hapur', 'Hardoi',
       'Haridwar', 'Hassan', 'Himmatnagar', 'Hindaun', 'Hinganghat',
       'Hisar', 'Hoshangabad', 'Hoshiarpur', 'Hospet', 'Hubli',
       'Kompally,Hyderabad', 'Himayath Nagar,Hyderabad',
       'Jubilee Hills,Hyderabad', 'Kachiguda,Hyderabad',
       'Begumpet,Hyderabad', 'Kothapet & Dilsukhnagar,Hyderabad',
       'Lingampally & Nalagandla,Hyderabad', 'Balanagar & Idpl,Hyderabad',
       'Kondapur,Hyderabad', 'Ameerpet,Hyderabad',
       'Abids & Koti,Hyderabad', 'Banjara Hills,Hyderabad',
       'Gachibowli,Hyderabad', 'Suncity & Bandlaguda,Hyderabad',
       'Vanasthalipuram,Hyderabad', 'Nampally,Hyderabad',
       'Miyapur,Hyderabad', 'Manikonda,Hyderabad', 'Madhapur,Hyderabad',
       'Mehdipatnam,Hyderabad', 'Kharkhana & Trimulgherry,Hyderabad',
       'West Marredpally,Hyderabad',
       'Tarnaka, Nacharam & Malkajigiri,Hyderabad',
       'Santoshnagar & Saidabad,Hyderabad', 'Alwal,Hyderabad',
       'Padmarao Nagar,Hyderabad', 'Kukatpally,Hyderabad',
       'Nizampet & Pragathi Nagar,Hyderabad', 'Tolichowki,Hyderabad',
       'Nanakramguda,Hyderabad', 'Attapur,Hyderabad', 'Ichalkaranji',
       'Imphal', 'Sarafa,Indore', 'Vijay Nagar,Indore',
       'South Tukoganj,Indore', 'Bhawar Kuan,Indore',
       'Old Palasia,Indore', 'New Palasia,Indore', 'Irinjalakuda',
       'Itanagar', 'Itarsi', 'Jabalpur', 'Jagdalpur', 'Jagraon',
       'Jagtial', 'Jahanabad', 'Manasarovar,Jaipur', 'Jalaun', 'Jalgaon',
       'Jalpaiguri', 'Jammu', 'Jamnagar', 'Jamshedpur', 'Jaunpur',
       'Jhalawar', 'Jhansi', 'Jhargram', 'Jhunjhunu', 'Jind', 'Jodhpur',
       'Jorhat', 'Junagadh', 'Kadapa', 'Kadayanallur', 'Kadiri',
       'Kaithal', 'Kakinada', 'Kalaburagi', 'Kalady', 'Kamareddy',
       'Kanchrapara', 'Kannauj', 'Kannur', 'Kanpur', 'Kanyakumari',
       'Kapurthala', 'Karad', 'Karaikkudi', 'Karimnagar', 'Karnal',
       'Karunagappaly', 'Karur', 'Karwar', 'Kasaragod', 'Kashipur',
       'Katihar', 'Katni', 'Kavali', 'Kayamkulam', 'Kendujhar',
       'Khamgaon', 'Khammam', 'Khandwa', 'Khanna', 'Kharagpur',
       'Kishanganj', 'Kishangarh', 'Vyttila,Kochi', 'Kalamassery,Kochi',
       'Aluva,Kochi', 'Panampilly Nagar,Kochi', 'Lulu Mall,Kochi',
       'Fort Kochi,Kochi', 'Thrippunithura,Kochi', 'Kodaikanal', 'Kohima',
       'Kolar', 'Kolhapur', 'Howrah,Kolkata', 'South Kolkata,Kolkata',
       'Rajarhat,Kolkata', 'Burrabazar,Kolkata', 'North Dumdum,Kolkata',
       'Chinar Park,Kolkata', 'Kestopur,Kolkata', 'Kidderpore,Kolkata',
       'Salt Lake,Kolkata', 'Ruby Area,Kolkata', 'Santoshpur,Kolkata',
       'Bally,Kolkata', 'Central Kolkata,Kolkata', 'Garia,Kolkata',
       'Tangra,Kolkata', 'Esplanade,Kolkata', 'Kankurgachi,Kolkata',
       'Naktala,Kolkata', 'Behala,Kolkata', 'Alipore,Kolkata',
       'Lake Town,Kolkata', 'Dumdum,Kolkata', 'Jadavpur,Kolkata',
       'Thakurpukur,Kolkata', 'Hatibagan,Kolkata', 'Kollam', 'Kopargaon',
       'Koppal', 'Korba', 'Kota', 'Kotdwar', 'Kothagudem',
       'Kothamanagalam', 'Kottakkal', 'Kottarakkara', 'Kottayam',
       'Kovilpatti', 'Kozhikode', 'Krishnagiri', 'Krishnanagar',
       'Kumarakom', 'Kumbakonam', 'Kumta', 'Kundapura', 'Kunnamkullam',
       'Kurnool', 'Kurukshetra', 'Lakhimpur', 'Lalitpur', 'Latur',
       'Lonavala', 'Lonavla', 'Gomti Nagar,Lucknow', 'Hazratganj,Lucknow',
       'Bbd,Lucknow', 'Ashiyana,Lucknow', 'Aminabad,Lucknow',
       'Aliganj,Lucknow', 'Alambagh,Lucknow', 'Indira Nagar,Lucknow',
       'Civil Lines,Ludhiana', 'BRS Nagar,Ludhiana',
       'Model Town,Ludhiana', 'Dugri,Ludhiana', 'Machilipatnam',
       'Madanapalle', 'Madhubani', 'Madikeri', 'Madurai', 'Mahbubnagar',
       'Malappuram', 'Malda', 'Malegaon', 'Malout', 'Manali',
       'Mancherial', 'Mandi-dabwali', 'Mandi-gobindgarh', 'Mandsaur',
       'Mandya', 'Mangaluru', 'Manipal', 'Manjeri', 'Mansa', 'Markapur',
       'Mathura', 'Maunath-bhanjan', 'Mayiladuthurai', 'Medinipur',
       'Meerut', 'Mehsana', 'Miryalaguda', 'Mirzapur', 'Modinagar',
       'Moga', 'Moodbidri', 'Moradabad', 'Morbi', 'Morena', 'Motihari',
       'Mount-abu', 'Mughalsarai', 'Muktsar', 'Virar,Mumbai',
       'Powai,Mumbai', 'Kamothe,Mumbai', 'Mulund,Mumbai',
       'Mahalaxmi Malabar Hill,Mumbai', 'Vashi,Mumbai',
       'Bandra West,Mumbai', 'Scruz Bandra East,Mumbai',
       'Fort Colaba,Mumbai', 'Bhayandar,Mumbai', 'Mahim Dadar,Mumbai',
       'Starbucks_BKC,Mumbai', 'Vasai,Mumbai', 'Matunga Wadala,Mumbai',
       'Airoli,Mumbai', 'Munger', 'Murshidabad', 'Mussoorie',
       'Muvattupuzha', 'Muzaffarnagar', 'Muzaffarpur',
       'Mysore North,Mysore', 'Mysore South,Mysore', 'Nabadwip', 'Nadiad',
       'Nagaon', 'Nagapattinam', 'Nagda', 'Nagercoil',
       'Dharampeth,Nagpur', 'Nandanvan,Nagpur', 'Sitabuldi,Nagpur',
       'Gandhibagh,Nagpur', 'Bajaj Nagar,Nagpur', 'Manish Nagar,Nagpur',
       'Sadar,Nagpur', 'Wardha Road,Nagpur', 'Naharlagun', 'Nainital',
       'Nalgonda', 'Namakkal', 'Nanded', 'Nandurbar', 'Nandyal', 'Nangal',
       'Naraingarh', 'Narasaraopet', 'Narnaul', 'Narsinghpur', 'Navsari',
       'Neemuch', 'Nellore', 'Neyveli', 'Nipani', 'Nirmal', 'Nizamabad',
       'Raj Nagar,Noida', 'Noida-1', 'North-goa', 'Ongole', 'Ooty',
       'Orai', 'Osmanabad', 'Pala', 'Palakkad', 'Palampur', 'Palani',
       'Palanpur', 'Pali', 'Panipat', 'Parbhani', 'Pathankot', 'Patiala',
       'Patna', 'Perinthalmanna', 'Phagwara', 'Pilibhit', 'Pondicherry',
       'Porbandar', 'Proddatur', 'Pudukkottai', 'Wanowrie,Pune',
       'Koregaon Park,Pune', 'Hadapsar,Pune', 'Warje,Pune',
       'Pimple Saudagar,Pune', 'Kothrud,Pune', 'Vishrantwadi,Pune',
       'Sangvi,Pune', 'Bibwewadi,Pune', 'Wakad,Pune', 'Kondhwa,Pune',
       'Swargate,Pune', 'Nigdi,Pune', 'Bavdhan,Pune', 'Bhosari,Pune',
       'Sinhgad Road,Pune', 'Wagholi,Pune', 'Narhe,Pune',
       'Hinjewadi,Pune', 'Bopodi,Pune', 'PCMC,Pune', 'Dhankawadi,Pune',
       'Viman Nagar,Pune', 'Aundh,Pune', 'Kalyani Nagar,Pune',
       'Kharadi,Pune', 'Shivaji Nagar,Pune', 'Hinjewadi Phase-3,Pune',
       'Baner,Pune', 'Magarpatta,Pune', 'Puri', 'Purnea', 'Purulia',
       'Pusad', 'Puttur', 'Rae-bareli', 'Raghunathpur', 'Raichur',
       'Raiganj', 'Raigarh', 'Raipur', 'Rajahmundry', 'Rajapalayam',
       'Rajkot', 'Rajnandgaon', 'Rajsamand', 'Ramagundam', 'Ramanagara',
       'Ramanathapuram', 'Rampur', 'Ranaghat-wb', 'Ranchi', 'Rangpo',
       'Ranibennur', 'Raniganj', 'Ratlam', 'Ratnagiri', 'Rayachoty',
       'Rewa', 'Rewari', 'Rishikesh', 'Rohtak', 'Roorkee', 'Ropar',
       'Rourkela', 'Rudrapur', 'Sagar', 'Saharanpur', 'Saharsa', 'Salem',
       'Samastipur', 'Sambalpur', 'Sangamner', 'Sangli', 'Sangrur',
       'Sasaram', 'Satara', 'Satna', 'Sawai-madhopur', 'Sehore',
       'Shahjahanpur', 'Shikohabad', 'Shillong', 'Shimla', 'Shivamogga',
       'Shivpuri', 'Shrirampur', 'Siddipet', 'Sikar', 'Silchar',
       'Siliguri', 'Silvassa', 'Sindhanur', 'Singrauli', 'Sirsa', 'Sirsi',
       'Sitapur', 'Sivakasi', 'Sivasagar', 'Siwan', 'Solan', 'Solapur',
       'Sonipat', 'South-goa', 'Sri-ganganagar', 'Srikakulam',
       'Srivilliputhur', 'Sultanpur', 'Athwa,Surat', 'Adajan,Surat',
       'Piplod,Surat', 'Suratgarh', 'Surendranagar-dudhrej', 'Suryapet',
       'Tadepalligudem', 'Tadpatri', 'Tanuku', 'Tarn-taran-sahib',
       'Tenkasi', 'Tezpur', 'Thalassery', 'Thanjavur', 'Theni',
       'Thiruvalla', 'Thiruvallur', 'Thiruvananthapuram', 'Thiruvarur',
       'Thodupuzha', 'Thoothukudi', 'Thrissur', 'Tinsukia', 'Tiptur',
       'Tirunelveli', 'Tirupati', 'Tirupur', 'Tiruvannamalai', 'Tohana',
       'Trichy', 'Tumakuru', 'Tuni', 'Udaipur', 'Udgir', 'Ujjain',
       'Uluberia', 'Uran-islampur', 'Akota,Vadodara', 'Alkapuri,Vadodara',
       'Vadiwadi,Vadodara', 'Valsad', 'Vapi', 'Varanasi', 'Varkala',
       'Vellore', 'Veraval', 'Vidisha',
       'Benz Circle and Auto Nagar,Vijayawada', 'Governorpet,Vijayawada',
       'Virudhunagar', 'Visnagar', 'N A D,Vizag', 'Gajuwaka,Vizag',
       'Jagadamba Junction,Vizag', 'MVP Colony,Vizag',
       'Dwarka Nagar,Vizag', 'Vizianagaram', 'Vyara', 'Waidhan',
       'Warangal', 'Wardha', 'Washim', 'Yamuna-nagar', 'Yavatmal'],
      dtype=object)

In [13]:
split_data = df['city'].str.split(',', n=1, expand=True)

# Assign to new columns
df['Area'] = split_data[0].str.strip()
df['City'] = split_data[1].str.strip()

# Fill missing city names with area (when no comma was present)
df['City'] = df['City'].fillna(df['Area'])
df['Area'] = df['Area'].where(df['Area'] != df['City'], None)

# Fill None values in Area with 'Unknown'
df['Area'] = df['Area'].fillna('Unknown')

In [14]:
df

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",Unknown,Abohar
531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",Unknown,Abohar
158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,Unknown,Abohar
187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",Unknown,Abohar
543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",Unknown,Abohar
...,...,...,...,...,...,...,...,...
553122,The Food Delight,Yavatmal,--,Too Few Ratings,₹ 200,"Fast Food,Snacks",Unknown,Yavatmal
562647,MAITRI FOODS & BEVERAGES,Yavatmal,--,Too Few Ratings,₹ 300,Pizzas,Unknown,Yavatmal
559435,Cafe Bella Ciao,Yavatmal,--,Too Few Ratings,₹ 300,"Fast Food,Snacks",Unknown,Yavatmal
418989,GRILL ZILLA,Yavatmal,--,Too Few Ratings,₹ 250,Continental,Unknown,Yavatmal
447770,Lazeez kitchen,Yavatmal,--,Too Few Ratings,₹ 200,Pizzas,Unknown,Yavatmal

In [15]:
# Remove ₹ and convert to integer
df['cost'] = df['cost'].str.replace('₹', '', regex=False).str.strip().astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148432 entries, 567335 to 447770
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148432 non-null  object
 1   city          148432 non-null  object
 2   rating        148432 non-null  object
 3   rating_count  148432 non-null  object
 4   cost          148432 non-null  int64
 5   cuisine       148432 non-null  object
 6   Area          148432 non-null  object
 7   City          148432 non-null  object
dtypes: int64(1), object(7)
memory usage: 10.2+ MB

In [16]:
df["rating"].unique()

array(['--', '4.4', '3.8', '3.7', '3.6', '4.0', '4.2', '4.7', '4.1',
       '3.5', '3.1', '3.4', '3.3', '4.8', '3.9', '2.7', '4.3', '2.9',
       '4.5', '2.5', '3.2', '2.4', '4.6', '3.0', '2.8', '2.3', '5.0',
       '2.6', '2.2', '1.4', '1.9', '4.9', '2.1', '1.3', '2.0', '1.8',
       '1.6', '1.1', '1.5', '1.0', '1.2', '1.7'], dtype=object)

In [17]:
df["rating_count"].unique()

array(['Too Few Ratings', '50+ ratings', '100+ ratings', '20+ ratings',
       '500+ ratings', '1K+ ratings', '5K+ ratings', '10K+ ratings'],
      dtype=object)

In [18]:
def clean_rating(x):
    if x == '--':
        # Replace missing rating with a random float between 2.5 and 4.5
        return round(np.random.uniform(2.5, 4.0), 1)
    else:
        return float(x)

def clean_rating_count(x):
    if x == 'Too Few Ratings':
        return np.random.randint(1, 10)
    elif x == '20+ ratings':
        return np.random.randint(20, 50)
    elif x == '50+ ratings':
        return np.random.randint(50, 100)
    elif x == '100+ ratings':
        return np.random.randint(100, 500)
    elif x == '500+ ratings':
        return np.random.randint(500, 1000)
    elif x == '1K+ ratings':
        return np.random.randint(1000, 5000)
    elif x == '5K+ ratings':
        return np.random.randint(5000, 10000)
    elif x == '10K+ ratings':
        return np.random.randint(10000, 20000)

In [19]:
df['rating'] = df['rating'].apply(clean_rating)
df['rating_count'] = df['rating_count'].apply(clean_rating_count)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148432 entries, 567335 to 447770
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148432 non-null  object
 1   city          148432 non-null  object
 2   rating        148432 non-null  float64
 3   rating_count  148432 non-null  int64
 4   cost          148432 non-null  int64
 5   cuisine       148432 non-null  object
 6   Area          148432 non-null  object
 7   City          148432 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 10.2+ MB

In [192]:
df.nunique()

name            112808
city               821
rating              41
rating_count      3086
cost               363
cuisine           2132
Area               295
City               554
dtype: int64

In [193]:
df

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
567335,AB FOODS POINT,Abohar,3.2,8,200,"Beverages,Pizzas",Unknown,Abohar
531342,Janta Sweet House,Abohar,4.4,76,200,"Sweets,Bakery",Unknown,Abohar
158203,theka coffee desi,Abohar,3.8,179,100,Beverages,Unknown,Abohar
187912,Singh Hut,Abohar,3.7,47,250,"Fast Food,Indian",Unknown,Abohar
543530,GRILL MASTERS,Abohar,3.4,6,250,"Italian-American,Fast Food",Unknown,Abohar
...,...,...,...,...,...,...,...,...
553122,The Food Delight,Yavatmal,3.3,1,200,"Fast Food,Snacks",Unknown,Yavatmal
562647,MAITRI FOODS & BEVERAGES,Yavatmal,2.9,2,300,Pizzas,Unknown,Yavatmal
559435,Cafe Bella Ciao,Yavatmal,4.0,8,300,"Fast Food,Snacks",Unknown,Yavatmal
418989,GRILL ZILLA,Yavatmal,2.7,4,250,Continental,Unknown,Yavatmal
447770,Lazeez kitchen,Yavatmal,3.0,4,200,Pizzas,Unknown,Yavatmal

In [194]:
df.to_csv("cleaned_data.csv", index=True)