In [1]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer, OneHotEncoder, StandardScaler

In [2]:
df = pd.read_csv("cleaned_data.csv", index_col="id")
df

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
567335,AB FOODS POINT,Abohar,3.2,8,200,"Beverages,Pizzas",Unknown,Abohar
531342,Janta Sweet House,Abohar,4.4,76,200,"Sweets,Bakery",Unknown,Abohar
158203,theka coffee desi,Abohar,3.8,179,100,Beverages,Unknown,Abohar
187912,Singh Hut,Abohar,3.7,47,250,"Fast Food,Indian",Unknown,Abohar
543530,GRILL MASTERS,Abohar,3.4,6,250,"Italian-American,Fast Food",Unknown,Abohar
...,...,...,...,...,...,...,...,...
553122,The Food Delight,Yavatmal,3.3,1,200,"Fast Food,Snacks",Unknown,Yavatmal
562647,MAITRI FOODS & BEVERAGES,Yavatmal,2.9,2,300,Pizzas,Unknown,Yavatmal
559435,Cafe Bella Ciao,Yavatmal,4.0,8,300,"Fast Food,Snacks",Unknown,Yavatmal
418989,GRILL ZILLA,Yavatmal,2.7,4,250,Continental,Unknown,Yavatmal
447770,Lazeez kitchen,Yavatmal,3.0,4,200,Pizzas,Unknown,Yavatmal

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148432 entries, 567335 to 447770
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148432 non-null  object
 1   city          148432 non-null  object
 2   rating        148432 non-null  float64
 3   rating_count  148432 non-null  int64
 4   cost          148432 non-null  int64
 5   cuisine       148432 non-null  object
 6   Area          148432 non-null  object
 7   City          148432 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 10.2+ MB

In [4]:
df.drop("name", axis=1, inplace=True)
df

,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,
567335,Abohar,3.2,8,200,"Beverages,Pizzas",Unknown,Abohar
531342,Abohar,4.4,76,200,"Sweets,Bakery",Unknown,Abohar
158203,Abohar,3.8,179,100,Beverages,Unknown,Abohar
187912,Abohar,3.7,47,250,"Fast Food,Indian",Unknown,Abohar
543530,Abohar,3.4,6,250,"Italian-American,Fast Food",Unknown,Abohar
...,...,...,...,...,...,...,...
553122,Yavatmal,3.3,1,200,"Fast Food,Snacks",Unknown,Yavatmal
562647,Yavatmal,2.9,2,300,Pizzas,Unknown,Yavatmal
559435,Yavatmal,4.0,8,300,"Fast Food,Snacks",Unknown,Yavatmal
418989,Yavatmal,2.7,4,250,Continental,Unknown,Yavatmal
447770,Yavatmal,3.0,4,200,Pizzas,Unknown,Yavatmal

In [5]:
# Split the comma-separated strings into lists
df['cuisine'] = df['cuisine'].str.split(',')

# Apply MultiLabelBinarizer
mlb = MultiLabelBinarizer()
cuisine_encoded = mlb.fit_transform(df['cuisine'])

# Convert to DataFrame with proper column names
cuisine_df = pd.DataFrame(cuisine_encoded, columns=mlb.classes_, index=df.index)

# Concatenate with original DataFrame
df = pd.concat([df.drop('cuisine', axis=1), cuisine_df], axis=1)

In [6]:
df

,city,rating,rating_count,cost,Area,City,8:15 To 11:30 Pm,Afghani,African,American,...,Thai,Thalis,Tibetan,Tribal,Turkish,Use Code JUMBO30 to avail,Use code XPRESS121 to avail.,Vietnamese,Waffle,indian
id,,,,,,,,,,,,,,,,,,,,,
567335,Abohar,3.2,8,200,Unknown,Abohar,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
531342,Abohar,4.4,76,200,Unknown,Abohar,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
158203,Abohar,3.8,179,100,Unknown,Abohar,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
187912,Abohar,3.7,47,250,Unknown,Abohar,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
543530,Abohar,3.4,6,250,Unknown,Abohar,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553122,Yavatmal,3.3,1,200,Unknown,Yavatmal,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
562647,Yavatmal,2.9,2,300,Unknown,Yavatmal,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
559435,Yavatmal,4.0,8,300,Unknown,Yavatmal,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
418989,Yavatmal,2.7,4,250,Unknown,Yavatmal,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
447770,Yavatmal,3.0,4,200,Unknown,Yavatmal,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Create and fit encoder
encoder = OneHotEncoder(sparse_output=False, handle_unknown='ignore')
encoded = encoder.fit_transform(df[['City', 'Area']])

# Convert encoded data to DataFrame (keep same index)
encoded_df = pd.DataFrame(
    encoded,
    columns=encoder.get_feature_names_out(['City', 'Area']),
    index=df.index
)

# Combine with original DataFrame (drop old columns)
df = pd.concat([df.drop(['city', 'City', 'Area'], axis=1), encoded_df], axis=1)

In [8]:
df

,rating,rating_count,cost,8:15 To 11:30 Pm,Afghani,African,American,Andhra,Arabian,Asian,...,Area_Wanowrie,Area_Wardha Road,Area_Warje,Area_West Chd,Area_West Marredpally,Area_Whitefield,Area_Yelahanka,Area_Yeshwanthpur,Area_Zirakpur,Area_sohna road
id,,,,,,,,,,,,,,,,,,,,,
567335,3.2,8,200,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
531342,4.4,76,200,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158203,3.8,179,100,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187912,3.7,47,250,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
543530,3.4,6,250,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553122,3.3,1,200,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562647,2.9,2,300,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
559435,4.0,8,300,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418989,2.7,4,250,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447770,3.0,4,200,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
scaler = StandardScaler()
scaler_cols = ["rating", "rating_count", "cost"]

df[scaler_cols] = scaler.fit_transform(df[scaler_cols])
df

,rating,rating_count,cost,8:15 To 11:30 Pm,Afghani,African,American,Andhra,Arabian,Asian,...,Area_Wanowrie,Area_Wardha Road,Area_Warje,Area_West Chd,Area_West Marredpally,Area_Whitefield,Area_Yelahanka,Area_Yeshwanthpur,Area_Zirakpur,Area_sohna road
id,,,,,,,,,,,,,,,,,,,,,
567335,-0.578277,-0.254316,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
531342,1.615715,-0.123157,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
158203,0.518719,0.075509,-0.235480,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
187912,0.335886,-0.179093,-0.047197,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
543530,-0.212612,-0.258173,-0.047197,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
553122,-0.395444,-0.267817,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
562647,-1.126775,-0.265888,0.015565,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
559435,0.884384,-0.254316,0.015565,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
418989,-1.492440,-0.262031,-0.047197,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
447770,-0.943942,-0.262031,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 148432 entries, 567335 to 447770
Columns: 979 entries, rating to Area_sohna road
dtypes: float64(852), int64(127)
memory usage: 1.1 GB

In [71]:
df.to_csv("encoded_data.csv", index=True)