In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Load Datasets
cleaned_df = pd.read_csv("cleaned_data.csv", index_col="id")
encoded_df = pd.read_csv("encoded_data.csv", index_col="id")

In [3]:
c_df = cleaned_df[cleaned_df['City'].str.lower() == ("Yavatmal").lower()]
c_df

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
141318,Ekvira Restaurant,Yavatmal,3.8,421,200,"North Indian,Fast Food",Unknown,Yavatmal
193866,Chaitanya Bhojnalay,Yavatmal,4.0,87,200,"North Indian,Maharashtrian",Unknown,Yavatmal
234395,Chiness House,Yavatmal,3.5,96,100,"American,Chinese",Unknown,Yavatmal
513588,MOMO G,Yavatmal,2.5,9,200,Chinese,Unknown,Yavatmal
141314,KP's Silver Spoons,Yavatmal,3.8,92,200,North Indian,Unknown,Yavatmal
...,...,...,...,...,...,...,...,...
553122,The Food Delight,Yavatmal,3.6,9,200,"Fast Food,Snacks",Unknown,Yavatmal
562647,MAITRI FOODS & BEVERAGES,Yavatmal,3.9,7,300,Pizzas,Unknown,Yavatmal
559435,Cafe Bella Ciao,Yavatmal,3.8,1,300,"Fast Food,Snacks",Unknown,Yavatmal
418989,GRILL ZILLA,Yavatmal,3.5,5,250,Continental,Unknown,Yavatmal
447770,Lazeez kitchen,Yavatmal,3.4,3,200,Pizzas,Unknown,Yavatmal

In [4]:
res_id = c_df[c_df['cuisine'].str.lower() == ("Fast Food").lower()]
res_id

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
140158,Bhavani Fast Food,Yavatmal,3.4,5,100,Fast Food,Unknown,Yavatmal

In [5]:
res_id = c_df[
    c_df['cuisine']
    .fillna('')
    .str.contains(r'\bfast food\b', case=False, regex=True)
]
res_id

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
141318,Ekvira Restaurant,Yavatmal,3.8,421,200,"North Indian,Fast Food",Unknown,Yavatmal
140473,Pet Pooja,Yavatmal,3.8,99,150,"Fast Food,South Indian",Unknown,Yavatmal
328862,BURGERTRON,Yavatmal,3.6,27,200,"Fast Food,Pizzas",Unknown,Yavatmal
140470,Cafe Hidden Bean,Yavatmal,2.8,2,150,"Fast Food,Beverages",Unknown,Yavatmal
140471,Beyond Temtation,Yavatmal,3.0,22,150,"Fast Food,Beverages",Unknown,Yavatmal
328847,Pepperoni Pizza House,Yavatmal,4.0,7,250,"Italian,Fast Food",Unknown,Yavatmal
185298,Jain Varities & Icecream Corner,Yavatmal,3.7,70,150,"Snacks,Fast Food",Unknown,Yavatmal
140164,Ranade Bandhu,Yavatmal,4.7,24,100,"Sweets,Fast Food",Unknown,Yavatmal
424653,SHORT BREAK,Yavatmal,3.6,5,300,"Beverages,Fast Food",Unknown,Yavatmal
140174,Suraj Hotel,Yavatmal,3.0,45,200,"North Indian,Fast Food",Unknown,Yavatmal
140158,Bhavani Fast Food,Yavatmal,3.4,5,100,Fast Food,Unknown,Yavatmal
242762,Frost and Feather,Yavatmal,3.6,2,250,"Fast Food,Pizzas",Unknown,Yavatmal
561381,Yummy Momo's Cafe,Yavatmal,3.9,3,100,"Chinese,Fast Food",Unknown,Yavatmal
553122,The Food Delight,Yavatmal,3.6,9,200,"Fast Food,Snacks",Unknown,Yavatmal
559435,Cafe Bella Ciao,Yavatmal,3.8,1,300,"Fast Food,Snacks",Unknown,Yavatmal

In [6]:
res_id = c_df[
    c_df['cuisine']
    .str.contains(r'\bfast food\b', case=False, regex=True)
].index
res_id

Index([141318, 140473, 328862, 140470, 140471, 328847, 185298, 140164, 424653,
       140174, 140158, 242762, 561381, 553122, 559435],
      dtype='int64', name='id')

In [7]:
res_vector = encoded_df.loc[res_id]
res_vector

,rating,rating_count,cost,8:15 To 11:30 Pm,Afghani,African,American,Andhra,Arabian,Asian,...,Area_Wanowrie,Area_Wardha Road,Area_Warje,Area_West Chd,Area_West Marredpally,Area_Whitefield,Area_Yelahanka,Area_Yeshwanthpur,Area_Zirakpur,Area_sohna road
id,,,,,,,,,,,,,,,,,,,,,
141318,0.519133,0.544276,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140473,0.519133,-0.078559,-0.172719,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328862,0.153753,-0.217826,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140470,-1.307768,-0.266183,-0.172719,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140471,-0.942388,-0.227498,-0.172719,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328847,0.884513,-0.256512,-0.047197,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185298,0.336443,-0.134653,-0.172719,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140164,2.163343,-0.223629,-0.235480,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
424653,0.153753,-0.260380,0.015565,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140174,-0.942388,-0.183009,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140158,-0.211627,-0.260380,-0.235480,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
242762,0.153753,-0.266183,-0.047197,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
561381,0.701823,-0.264249,-0.235480,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
553122,0.153753,-0.252643,-0.109958,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
559435,0.519133,-0.268117,0.015565,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
sim_scores = cosine_similarity(res_vector, encoded_df)
sim_scores

array([[0.26961442, 0.32198107, 0.3580111 , ..., 0.70025647, 0.49300068,
        0.46477797],
       [0.31638355, 0.34943373, 0.34000651, ..., 0.76046089, 0.55376788,
        0.52598919],
       [0.50380715, 0.24785717, 0.28640189, ..., 0.74493968, 0.58103406,
        0.84999879],
       ...,
       [0.34549738, 0.39659091, 0.34660214, ..., 0.76637539, 0.54693493,
        0.51244466],
       [0.2739635 , 0.24828586, 0.28393662, ..., 0.98269361, 0.58242715,
        0.57155772],
       [0.32157718, 0.3490114 , 0.31697809, ..., 1.        , 0.56254292,
        0.53177239]], shape=(15, 148432))

In [9]:
# Average similarity across all restaurants in that city
mean_sim = sim_scores.mean(axis=0)
mean_sim

array([0.33070462, 0.24596453, 0.32516165, ..., 0.75087706, 0.54725826,
       0.57389635], shape=(148432,))

In [10]:
# Get top N similar restaurants (excluding same city ones)
top_n = 10
similar_indices = np.argsort(mean_sim)[::-1]
similar_indices

array([148410, 148427, 148391, ...,  77356,  75952,  80448],
      shape=(148432,))

In [11]:
city = "Yavatmal"

In [12]:
# Create a DataFrame of recommendations
recommendations = cleaned_df.iloc[similar_indices]
recommendations = recommendations[recommendations["City"].str.lower() == "Yavatmal".lower()]  # exclude same city
recommendations = recommendations.head(top_n)
recommendations

,name,city,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,,
140158,Bhavani Fast Food,Yavatmal,3.4,5,100,Fast Food,Unknown,Yavatmal
553122,The Food Delight,Yavatmal,3.6,9,200,"Fast Food,Snacks",Unknown,Yavatmal
185298,Jain Varities & Icecream Corner,Yavatmal,3.7,70,150,"Snacks,Fast Food",Unknown,Yavatmal
424653,SHORT BREAK,Yavatmal,3.6,5,300,"Beverages,Fast Food",Unknown,Yavatmal
559435,Cafe Bella Ciao,Yavatmal,3.8,1,300,"Fast Food,Snacks",Unknown,Yavatmal
328862,BURGERTRON,Yavatmal,3.6,27,200,"Fast Food,Pizzas",Unknown,Yavatmal
242762,Frost and Feather,Yavatmal,3.6,2,250,"Fast Food,Pizzas",Unknown,Yavatmal
140473,Pet Pooja,Yavatmal,3.8,99,150,"Fast Food,South Indian",Unknown,Yavatmal
561381,Yummy Momo's Cafe,Yavatmal,3.9,3,100,"Chinese,Fast Food",Unknown,Yavatmal
328847,Pepperoni Pizza House,Yavatmal,4.0,7,250,"Italian,Fast Food",Unknown,Yavatmal

In [13]:
def get_restaurants(city, cuisine, top_n=15):
    # Filter restaurants by city
    city_df = cleaned_df[cleaned_df['City'].str.lower() == city.lower()]

    # Filter by exact cuisines (case-insensitive)
    cuisine_df = city_df[city_df['cuisine'].str.lower().isin([c.lower() for c in cuisine])]

    # Get matching indices
    restaurant_ids = cuisine_df.index

    # Select encoded features
    city_encoded = encoded_df.loc[city_df.index]
    cuisine_encoded = encoded_df.loc[restaurant_ids]

    # Compute cosine similarity safely
    sim_matrix = cosine_similarity(cuisine_encoded, city_encoded)
    mean_similarity = sim_matrix.mean(axis=0)

    # Sort and select top N
    sorted_idx = np.argsort(mean_similarity)[::-1]
    similar_restaurants = city_df.iloc[sorted_idx].head(top_n).copy()
    similar_restaurants['similarity_score'] = mean_similarity[sorted_idx][:top_n]

    # Choose columns dynamically
    cols = ["name", "rating", "rating_count", "cost", "cuisine"]
    if list(city_df["Area"].unique()) != ["Unknown"]:
        cols.append("Area")

    return similar_restaurants[cols].reset_index(drop=True)

In [14]:
recommendations = get_restaurants("Ahmedabad",["South Indian,North Indian"])
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,Maharaj Dalvada,3.8,7,200,"South Indian,North Indian",Gandhinagar
1,Dhosa Hub,3.8,1,5,"South Indian,North Indian",Navrangpura
2,Food Nest,3.8,52,300,"North Indian,South Indian",Bopal
3,HUNGRY LA restaurant,3.9,2,300,"North Indian,South Indian",Gandhinagar
4,Chatpati Handi,3.7,8,160,"South Indian,North Indian",Paldi & Ambawadi
5,Test Of Spice,4.0,84,200,"North Indian,South Indian",Chandkheda
6,Royal Urban Dhaba,3.6,3,300,"South Indian,North Indian",Maninagar
7,Dusk Restaurant,3.9,7,300,"North Indian,South Indian",Maninagar
8,Day 'N' Night,4.1,48,300,"South Indian,North Indian",Navrangpura
9,Celebrations Restaurant,3.6,2,500,"North Indian,South Indian",Maninagar
10,Zupadi Kitchen,4.1,41,200,"South Indian,North Indian",Chandkheda
11,Shivam Snacks,4.1,103,400,"South Indian,North Indian",Bopal
12,Bikanervala,4.0,301,400,"North Indian,South Indian",Navrangpura
13,Om Foods,3.7,8,350,"North Indian,South Indian",Ghatlodia
14,Rainbow,3.7,1,400,"North Indian,South Indian",Naranpura

In [15]:
recommendations = get_restaurants("Ahmedabad",["Fast Food"])
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,John Banega Don,3.4,4,250,Fast Food,Vastrapur
1,Mumbai Chaat,3.4,7,99,Fast Food,Vastrapur
2,Cravingz,3.3,4,400,Fast Food,Vastrapur
3,Junior & Senior Burger,3.4,9,200,Fast Food,Paldi & Ambawadi
4,Ali Baba Chai N Snacks,3.5,8,200,Fast Food,Maninagar
5,T M Fast Food,3.6,4,250,Fast Food,Vastrapur
6,Shahi Fry Center,3.4,118,250,Fast Food,Gandhinagar
7,Manek Sandwich & Pizza,3.5,7,300,Fast Food,Maninagar
8,Karnavati Snacks,3.5,91,150,Fast Food,Gandhinagar
9,INOX,3.5,3,400,Fast Food,Gandhinagar
10,Gayatri Bhajipav & Cold Drinks,3.4,3,300,Fast Food,Ghatlodia
11,Chaat Wala,3.5,47,200,Fast Food,Naranpura
12,Franky Station-Science City,3.5,4,300,Fast Food,Ghatlodia
13,Shree Purohit Snacks Bar and Cafe,3.2,7,100,Fast Food,Naranpura
14,Twister Fast Food,3.6,5,300,Fast Food,Maninagar