In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
# Load Datasets
cleaned_df = pd.read_csv("cleaned_data.csv", index_col="id")
encoded_df = pd.read_csv("encoded_data.csv", index_col="id")

In [ ]:
c_df = cleaned_df[cleaned_df['City'].str.lower() == ("Yavatmal").lower()]
c_df

,name,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,
141318,Ekvira Restaurant,3.8,429,200,"North Indian,Fast Food",Unknown,Yavatmal
193866,Chaitanya Bhojnalay,4.0,61,200,"North Indian,Maharashtrian",Unknown,Yavatmal
234395,Chiness House,3.5,80,100,"American,Chinese",Unknown,Yavatmal
513588,MOMO G,2.7,1,200,Chinese,Unknown,Yavatmal
141314,KP's Silver Spoons,3.8,96,200,North Indian,Unknown,Yavatmal
...,...,...,...,...,...,...,...
553122,The Food Delight,3.5,5,200,"Fast Food,Snacks",Unknown,Yavatmal
562647,MAITRI FOODS & BEVERAGES,3.0,4,300,Pizzas,Unknown,Yavatmal
559435,Cafe Bella Ciao,2.9,3,300,"Fast Food,Snacks",Unknown,Yavatmal
418989,GRILL ZILLA,4.0,4,250,Continental,Unknown,Yavatmal
447770,Lazeez kitchen,2.5,2,200,Pizzas,Unknown,Yavatmal

In [ ]:
res_id = c_df[c_df['cuisine'].str.lower() == ("Fast Food").lower()]
res_id

,name,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,
140158,Bhavani Fast Food,2.8,1,100,Fast Food,Unknown,Yavatmal

In [ ]:
res_id = c_df[
    c_df['cuisine']
    .fillna('')
    .str.contains(r'\bfast food\b', case=False, regex=True)
]
res_id

,name,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,
141318,Ekvira Restaurant,3.8,429,200,"North Indian,Fast Food",Unknown,Yavatmal
140473,Pet Pooja,3.8,90,150,"Fast Food,South Indian",Unknown,Yavatmal
328862,BURGERTRON,3.6,34,200,"Fast Food,Pizzas",Unknown,Yavatmal
140470,Cafe Hidden Bean,3.7,2,150,"Fast Food,Beverages",Unknown,Yavatmal
140471,Beyond Temtation,3.0,41,150,"Fast Food,Beverages",Unknown,Yavatmal
328847,Pepperoni Pizza House,2.8,9,250,"Italian,Fast Food",Unknown,Yavatmal
185298,Jain Varities & Icecream Corner,3.7,84,150,"Snacks,Fast Food",Unknown,Yavatmal
140164,Ranade Bandhu,4.7,37,100,"Sweets,Fast Food",Unknown,Yavatmal
424653,SHORT BREAK,2.5,6,300,"Beverages,Fast Food",Unknown,Yavatmal
140174,Suraj Hotel,3.0,36,200,"North Indian,Fast Food",Unknown,Yavatmal
140158,Bhavani Fast Food,2.8,1,100,Fast Food,Unknown,Yavatmal
242762,Frost and Feather,2.7,1,250,"Fast Food,Pizzas",Unknown,Yavatmal
561381,Yummy Momo's Cafe,4.0,8,100,"Chinese,Fast Food",Unknown,Yavatmal
553122,The Food Delight,3.5,5,200,"Fast Food,Snacks",Unknown,Yavatmal
559435,Cafe Bella Ciao,2.9,3,300,"Fast Food,Snacks",Unknown,Yavatmal

In [ ]:
res_id = c_df[
    c_df['cuisine']
    .str.contains(r'\bfast food\b', case=False, regex=True)
].index
res_id

Index([141318, 140473, 328862, 140470, 140471, 328847, 185298, 140164, 424653,
       140174, 140158, 242762, 561381, 553122, 559435],
      dtype='int64', name='id')

In [9]:
res_vector = encoded_df.loc[res_id]
res_vector

,name,rating,rating_count,cost,8:15 To 11:30 Pm,Afghani,African,American,Andhra,Arabian,...,Area_Wanowrie,Area_Wardha Road,Area_Warje,Area_West Chd,Area_West Marredpally,Area_Whitefield,Area_Yelahanka,Area_Yeshwanthpur,Area_Zirakpur,Area_sohna road
id,,,,,,,,,,,,,,,,,,,,,
141318,-0.799809,0.517811,0.554513,-0.109958,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140473,0.530112,0.517811,-0.096504,-0.172719,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328862,-1.411722,0.152059,-0.204046,-0.109958,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140470,-1.152848,0.334935,-0.265499,-0.172719,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140471,-1.349276,-0.945197,-0.190604,-0.172719,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
328847,0.527794,-1.310949,-0.252057,-0.047197,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
185298,-0.272447,0.334935,-0.108026,-0.172719,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140164,0.695843,2.163695,-0.198285,-0.235480,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
424653,0.817211,-1.859577,-0.257818,0.015565,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140174,1.164530,-0.945197,-0.200206,-0.109958,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
140158,-1.339445,-1.310949,-0.267420,-0.235480,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
242762,-0.680481,-1.493825,-0.267420,-0.047197,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
561381,1.672757,0.883563,-0.253977,-0.235480,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
553122,1.381052,-0.030817,-0.259738,-0.109958,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
559435,-1.161380,-1.128073,-0.263579,0.015565,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
sim_scores = cosine_similarity(res_vector, encoded_df)
sim_scores

array([[ 0.22882404,  0.33908042,  0.04085045, ...,  0.54055067,
         0.60031949,  0.15874806],
       [-0.08371708,  0.31097615,  0.38991998, ...,  0.32900558,
         0.48468354,  0.19425247],
       [ 0.58589551,  0.25893368, -0.23313265, ...,  0.70926945,
         0.61072158,  0.44911509],
       ...,
       [-0.3535044 ,  0.2832624 ,  0.59230032, ...,  0.01725555,
         0.30872571,  0.05568001],
       [-0.16748254,  0.09814239,  0.51202158, ...,  0.39458354,
         0.22697041,  0.3343935 ],
       [ 0.59207816, -0.07327378, -0.26530607, ...,  1.        ,
         0.34154292,  0.63547576]], shape=(15, 148432))

In [11]:
# Average similarity across all restaurants in that city
mean_sim = sim_scores.mean(axis=0)
mean_sim

array([0.26181654, 0.10657491, 0.1207315 , ..., 0.57116892, 0.36644423,
       0.42069439], shape=(148432,))

In [12]:
# Get top N similar restaurants (excluding same city ones)
top_n = 10
similar_indices = np.argsort(mean_sim)[::-1]
similar_indices

array([148391, 148429, 148416, ...,  88220, 125111,   3527],
      shape=(148432,))

In [13]:
city = "Yavatmal"

In [14]:
# Create a DataFrame of recommendations
recommendations = cleaned_df.iloc[similar_indices]
recommendations = recommendations[recommendations["City"].str.lower() == "Yavatmal".lower()]  # exclude same city
recommendations = recommendations.head(top_n)
recommendations

,name,rating,rating_count,cost,cuisine,Area,City
id,,,,,,,
185298,Jain Varities & Icecream Corner,3.7,84,150,"Snacks,Fast Food",Unknown,Yavatmal
559435,Cafe Bella Ciao,2.9,3,300,"Fast Food,Snacks",Unknown,Yavatmal
242762,Frost and Feather,2.7,1,250,"Fast Food,Pizzas",Unknown,Yavatmal
140470,Cafe Hidden Bean,3.7,2,150,"Fast Food,Beverages",Unknown,Yavatmal
140471,Beyond Temtation,3.0,41,150,"Fast Food,Beverages",Unknown,Yavatmal
140158,Bhavani Fast Food,2.8,1,100,Fast Food,Unknown,Yavatmal
328847,Pepperoni Pizza House,2.8,9,250,"Italian,Fast Food",Unknown,Yavatmal
140473,Pet Pooja,3.8,90,150,"Fast Food,South Indian",Unknown,Yavatmal
328862,BURGERTRON,3.6,34,200,"Fast Food,Pizzas",Unknown,Yavatmal
141318,Ekvira Restaurant,3.8,429,200,"North Indian,Fast Food",Unknown,Yavatmal

In [13]:
def get_restaurants(city, cuisine, top_n = 15):

    # Filter restaurants by city
    city_df = cleaned_df[cleaned_df['City'].str.lower() == city.lower()]

    # Filter restaurants in that city by cuisine
    cuisine_mask = city_df['cuisine'].str.contains(fr'\b{cuisine}\b', case=False, regex=True)
    
    restaurant_ids = city_df[cuisine_mask].index

    # Select encoded features for city and cuisine
    city_encoded = encoded_df.loc[city_df.index]
    cuisine_encoded = encoded_df.loc[restaurant_ids]

   # Compute cosine similarity (within same city only)
    sim_matrix = cosine_similarity(cuisine_encoded, city_encoded)

    # Take the mean similarity for each restaurant in city
    mean_similarity = sim_matrix.mean(axis=0)

    # Sort by similarity (descending)
    sorted_idx = np.argsort(mean_similarity)[::-1]

    # Pick top N restaurants
    similar_restaurants = city_df.iloc[sorted_idx].head(top_n).copy()
#    similar_restaurants['similarity_score'] = mean_similarity[sorted_idx][:top_n]

    if list(city_df["Area"].unique()) == ["Unknown"]:
        return similar_restaurants[["name",	"rating", "rating_count", "cost", "cuisine"]].reset_index(drop=True)
    else:
        return similar_restaurants[["name",	"rating", "rating_count", "cost", "cuisine", "Area"]].reset_index(drop=True)

In [4]:
recommendations = get_restaurants("Ahmedabad","South Indian,North Indian")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,Maharaj Dalvada,3.8,3,200,"South Indian,North Indian",Gandhinagar
1,SHREE BALAJI KITCHEN,3.4,4,200,"South Indian,North Indian",Chandkheda
2,Food Nest,3.8,78,300,"North Indian,South Indian",Bopal
3,RUCHIIRAA RESTAURANT,3.8,4,300,"North Indian,South Indian",Bopal
4,Chatpati Handi,3.4,1,160,"South Indian,North Indian",Paldi & Ambawadi
5,Test Of Spice,4.0,85,200,"North Indian,South Indian",Chandkheda
6,Zayaka,3.2,9,200,"North Indian,South Indian",Gandhinagar
7,Aaisha's Kitchen,3.2,8,300,"North Indian,South Indian",Bopal
8,Dhosa Hub,3.2,5,5,"South Indian,North Indian",Navrangpura
9,Zupadi Kitchen,4.1,28,200,"South Indian,North Indian",Chandkheda
10,Day 'N' Night,4.1,21,300,"South Indian,North Indian",Navrangpura
11,Punjab junction,3.3,5,200,"North Indian,South Indian",Naranpura
12,Delicious Hub,3.3,2,250,"North Indian,South Indian",Ghatlodia
13,Hotel Purnima,4.1,273,250,"South Indian,North Indian",Gandhinagar
14,Zodiac by Fortune Landmark,3.8,6,600,"North Indian,South Indian",Naranpura

In [8]:
cleaned_df[(cleaned_df["City"] == "Ahmedabad") & (cleaned_df["cuisine"] == "Sweets,Bakery")]

Empty DataFrame
Columns: [name, city, rating, rating_count, cost, cuisine, Area, City]
Index: []

In [14]:
recommendations = get_restaurants("Ahmedabad","Bakery")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,TGB Cafe'n Bakery,3.4,2,150,"Bakery,Desserts",Navrangpura
1,Jenny's Brownies,3.6,1,250,"Bakery,Desserts",Bopal
2,Mleko,3.7,8,300,"Bakery,Desserts",Navrangpura
3,Monginis Cake Shop (Ioc Road),3.5,93,300,"Bakery,Desserts",Chandkheda
4,TGB Cafe'n Bakery,3.5,1,100,"Bakery,Desserts",Chandkheda
5,Decide Bakers,3.6,8,200,"Bakery,Desserts",Maninagar
6,Monginis Cake Shop (Infocity),3.5,7,300,"Bakery,Desserts",Gandhinagar
7,Baked By Nini S,3.4,6,200,"Bakery,Desserts",Maninagar
8,Cakes N Bakes,3.6,189,350,"Desserts,Bakery",Navrangpura
9,New York Churros Co.,3.4,6,250,"Bakery,Desserts",GOTA
10,Jenny's Brownies,3.7,86,250,"Bakery,Desserts",Vastrapur
11,Baked By Ninis,3.4,3,300,Bakery,Navrangpura
12,Cake Factory,3.8,3,200,"Bakery,Desserts",Navrangpura
13,Baked By Nini s,3.5,9,200,Bakery,Bopal
14,WarmOven Cakes & Desserts,3.8,63,200,"Bakery,Desserts",Navrangpura

In [6]:
recommendations = get_restaurants("Ahmedabad","Sweets")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,SAURASHTRA GATHIYA AND SWEETS,3.8,4,200,"Snacks,Sweets",Vastrapur
1,Unnati Food and Dairy Parlour,3.9,8,200,"Sweets,Snacks",Paldi & Ambawadi
2,Shikarpuri Sweet Mart,3.6,5,200,"Sweets,Snacks",Vastrapur
3,Baa Gruh Udhyog Fast Food Services,3.7,2,300,"Snacks,Sweets",Paldi & Ambawadi
4,Das Khaman,4.0,76,200,"Sweets,Snacks",Chandkheda
5,Kamal Sweets,3.8,3,100,"Sweets,Snacks",Maninagar
6,Azad Sweets & Restaurant,4.0,50,250,"Sweets,Snacks",Maninagar
7,Kolkata Taste,3.7,8,300,Sweets,Chandkheda
8,Shree Umiya Gathiya (Jamnagarwada),3.9,3,200,"Snacks,Sweets",GOTA
9,Pocketz,3.7,6,200,"Snacks,Sweets",Ghatlodia
10,Gwalia Sweets & Fast Food,3.7,252,300,"Sweets,Snacks",Gandhinagar
11,Gwalia Sweets & Fast Food,4.0,316,400,"Sweets,Snacks",Bopal
12,Agarwal Mithai Bhandar,4.4,58,200,"Sweets,Snacks",Vastrapur
13,Gwalia Sweets & Restaurant,4.1,47,450,"Sweets,North Indian",Vastrapur
14,Gwalbhog,4.1,23,500,"Sweets,North Indian",Vastrapur

In [18]:
recommendations = get_restaurants("Ahmedabad","Sweets")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,Shri Gokul Dairy Farm,3.4,1,250,Sweets,Vastrapur
1,Arbuda Chavana And Farsan House-Memnagar,3.6,1,200,"Snacks,Sweets",Navrangpura
2,Pocketz,3.6,4,200,"Snacks,Sweets",Ghatlodia
3,RJ Ankurit kachori,4.0,6,250,"Snacks,Sweets",Paldi & Ambawadi
4,Das Khaman,4.0,51,200,"Sweets,Snacks",Chandkheda
5,AAMANTRAN SWEET NAMKEEN & FARSHAN,3.4,2,350,"Sweets,Snacks",Chandkheda
6,Kolkata Taste,3.9,7,300,Sweets,Chandkheda
7,Azad Sweets & Restaurant,4.0,78,250,"Sweets,Snacks",Maninagar
8,Maharaj Samosa & Namkin,3.4,7,200,"Snacks,Sweets",GOTA
9,Gwalia Sweets & Fast Food,4.0,145,400,"Sweets,Snacks",Bopal
10,Gwalia Sweets & Fast Food,3.7,411,300,"Sweets,Snacks",Gandhinagar
11,House Of Candy,3.5,7,400,"Desserts,Sweets",Vastrapur
12,Champaji Farsan House,3.7,7,250,"Desserts,Sweets",Paldi & Ambawadi
13,Hitesh Sweets,3.2,6,400,"Sweets,Snacks",Paldi & Ambawadi
14,Biryani Kitchen & Bengali sweets,3.8,35,500,"North Indian,Sweets",Gandhinagar

In [7]:
recommendations = get_restaurants("Ahmedabad","chinese")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,Ministry Of Momos,3.6,3,300,Chinese,Vastrapur
1,Namaste Chinese,3.5,9,250,Chinese,Navrangpura
2,Shaolin Panda,3.5,6,250,Chinese,Navrangpura
3,Soup Fiesta,3.7,7,300,Chinese,Vastrapur
4,Lajawab Dry & Fry,3.4,7,250,Chinese,Navrangpura
5,Chinese Town,3.7,6,400,Chinese,Chandkheda
6,Olivia Eggs,3.4,1,200,Chinese,Gandhinagar
7,China King,3.4,3,170,Chinese,Gandhinagar
8,Cinnamon,3.6,8,400,"North Indian,Chinese",Vastrapur
9,Spices Of Punjab,3.5,8,200,"North Indian,Chinese",Vastrapur
10,Black Chimney,3.4,7,300,"Chinese,North Indian",Vastrapur
11,Manokamna Momo Magic,3.7,8,200,Chinese,Gandhinagar
12,The Engineer Food,3.7,2,200,Chinese,Gandhinagar
13,Dragon King,3.8,1,300,Chinese,Vastrapur
14,Lovely Food,3.3,9,400,Chinese,Chandkheda

In [ ]:
import re

def get_restaurants(city, cuisine, top_n=15):
    # Filter restaurants by city
    city_df = cleaned_df[cleaned_df['City'].str.lower() == city.lower()]

    # Handle multiple cuisines like "Sweets,Bakery"
    cuisine_list = [c.strip() for c in cuisine.split(',')]

    # Build regex to match any cuisine (OR condition)
    pattern = '|'.join([fr'\b{re.escape(c)}\b' for c in cuisine_list])

    # Filter by any of the cuisines
    cuisine_mask = city_df['cuisine'].str.contains(pattern, case=False, regex=True, na=False)
    restaurant_ids = city_df[cuisine_mask].index
    if restaurant_ids.empty:
        # No matching restaurants found — return top rated from city
        return city_df.sort_values('rating', ascending=False).head(top_n)[
            ["name", "rating", "rating_count", "cost", "cuisine", "Area"]
        ].reset_index(drop=True)

    # Select encoded features
    city_encoded = encoded_df.loc[city_df.index]
    cuisine_encoded = encoded_df.loc[restaurant_ids]

    # Compute cosine similarity safely
    sim_matrix = cosine_similarity(cuisine_encoded, city_encoded)
    mean_similarity = sim_matrix.mean(axis=0)

    # Sort and select top N
    sorted_idx = np.argsort(mean_similarity)[::-1]
    similar_restaurants = city_df.iloc[sorted_idx].head(top_n).copy()
    similar_restaurants['similarity_score'] = mean_similarity[sorted_idx][:top_n]

    # Choose columns dynamically
    cols = ["name", "rating", "rating_count", "cost", "cuisine"]
    if list(city_df["Area"].unique()) != ["Unknown"]:
        cols.append("Area")

    return similar_restaurants[cols].reset_index(drop=True)

In [23]:
recommendations = get_restaurants("Ahmedabad","Sweets")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,SAURASHTRA GATHIYA AND SWEETS,3.8,4,200,"Snacks,Sweets",Vastrapur
1,Unnati Food and Dairy Parlour,3.9,8,200,"Sweets,Snacks",Paldi & Ambawadi
2,Shikarpuri Sweet Mart,3.6,5,200,"Sweets,Snacks",Vastrapur
3,Baa Gruh Udhyog Fast Food Services,3.7,2,300,"Snacks,Sweets",Paldi & Ambawadi
4,Das Khaman,4.0,76,200,"Sweets,Snacks",Chandkheda
5,Kamal Sweets,3.8,3,100,"Sweets,Snacks",Maninagar
6,Azad Sweets & Restaurant,4.0,50,250,"Sweets,Snacks",Maninagar
7,Kolkata Taste,3.7,8,300,Sweets,Chandkheda
8,Shree Umiya Gathiya (Jamnagarwada),3.9,3,200,"Snacks,Sweets",GOTA
9,Pocketz,3.7,6,200,"Snacks,Sweets",Ghatlodia
10,Gwalia Sweets & Fast Food,3.7,252,300,"Sweets,Snacks",Gandhinagar
11,Gwalia Sweets & Fast Food,4.0,316,400,"Sweets,Snacks",Bopal
12,Agarwal Mithai Bhandar,4.4,58,200,"Sweets,Snacks",Vastrapur
13,Gwalia Sweets & Restaurant,4.1,47,450,"Sweets,North Indian",Vastrapur
14,Gwalbhog,4.1,23,500,"Sweets,North Indian",Vastrapur

In [17]:
recommendations = get_restaurants("Ahmedabad","Bakery")
recommendations

,name,rating,rating_count,cost,cuisine,Area,similarity_score
0,TGB Cafe'n Bakery,3.4,2,150,"Bakery,Desserts",Navrangpura,0.598928
1,Jenny's Brownies,3.6,1,250,"Bakery,Desserts",Bopal,0.598545
2,Mleko,3.7,8,300,"Bakery,Desserts",Navrangpura,0.597111
3,Monginis Cake Shop (Ioc Road),3.5,93,300,"Bakery,Desserts",Chandkheda,0.594402
4,TGB Cafe'n Bakery,3.5,1,100,"Bakery,Desserts",Chandkheda,0.593562
5,Decide Bakers,3.6,8,200,"Bakery,Desserts",Maninagar,0.592891
6,Monginis Cake Shop (Infocity),3.5,7,300,"Bakery,Desserts",Gandhinagar,0.591711
7,Baked By Nini S,3.4,6,200,"Bakery,Desserts",Maninagar,0.590984
8,Cakes N Bakes,3.6,189,350,"Desserts,Bakery",Navrangpura,0.590586
9,New York Churros Co.,3.4,6,250,"Bakery,Desserts",GOTA,0.590374
10,Jenny's Brownies,3.7,86,250,"Bakery,Desserts",Vastrapur,0.588531
11,Baked By Ninis,3.4,3,300,Bakery,Navrangpura,0.586028
12,Cake Factory,3.8,3,200,"Bakery,Desserts",Navrangpura,0.585440
13,Baked By Nini s,3.5,9,200,Bakery,Bopal,0.583494
14,WarmOven Cakes & Desserts,3.8,63,200,"Bakery,Desserts",Navrangpura,0.583316

In [9]:
recommendations = get_restaurants("Ahmedabad","Chinese,Bakery")
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,Ministry Of Momos,3.6,3,300,Chinese,Vastrapur
1,Namaste Chinese,3.5,9,250,Chinese,Navrangpura
2,Shaolin Panda,3.5,6,250,Chinese,Navrangpura
3,Soup Fiesta,3.7,7,300,Chinese,Vastrapur
4,Lajawab Dry & Fry,3.4,7,250,Chinese,Navrangpura
5,Chinese Town,3.7,6,400,Chinese,Chandkheda
6,Olivia Eggs,3.4,1,200,Chinese,Gandhinagar
7,China King,3.4,3,170,Chinese,Gandhinagar
8,Lovely Food,3.3,9,400,Chinese,Chandkheda
9,Dragon King,3.8,1,300,Chinese,Vastrapur
10,Manokamna Momo Magic,3.7,8,200,Chinese,Gandhinagar
11,The Engineer Food,3.7,2,200,Chinese,Gandhinagar
12,The Shree Balaji Food Ponit,3.3,6,250,Chinese,Chandkheda
13,Cia Chinese In Ahmedabad,3.7,7,100,Chinese,Chandkheda
14,China In A Box,3.8,4,200,Chinese,Vastrapur

In [32]:
def get_restaurants(city, cuisine, top_n=15):
    # Filter restaurants by city
    city_df = cleaned_df[cleaned_df['City'].str.lower() == city.lower()]

    # Filter by exact cuisines (case-insensitive)
    cuisine_df = city_df[city_df['cuisine'].str.lower().isin([c.lower() for c in cuisine])]

    # Get matching indices
    restaurant_ids = cuisine_df.index

    # Select encoded features
    city_encoded = encoded_df.loc[city_df.index]
    cuisine_encoded = encoded_df.loc[restaurant_ids]

    # Compute cosine similarity safely
    sim_matrix = cosine_similarity(cuisine_encoded, city_encoded)
    mean_similarity = sim_matrix.mean(axis=0)

    # Sort and select top N
    sorted_idx = np.argsort(mean_similarity)[::-1]
    similar_restaurants = city_df.iloc[sorted_idx].head(top_n).copy()
    similar_restaurants['similarity_score'] = mean_similarity[sorted_idx][:top_n]

    # Choose columns dynamically
    cols = ["name", "rating", "rating_count", "cost", "cuisine"]
    if list(city_df["Area"].unique()) != ["Unknown"]:
        cols.append("Area")

    return similar_restaurants[cols].reset_index(drop=True)

In [34]:
recommendations = get_restaurants("Ahmedabad",["Fast Food"])
recommendations

,name,rating,rating_count,cost,cuisine,Area
0,T M Fast Food,3.5,9,250,Fast Food,Vastrapur
1,Karnavati Snacks,3.5,55,150,Fast Food,Gandhinagar
2,Akki's Food,3.5,1,300,Fast Food,Paldi & Ambawadi
3,Twister Fast Food,3.3,3,300,Fast Food,Maninagar
4,Chaat Wala,3.5,43,200,Fast Food,Naranpura
5,Baba Burger,3.3,2,200,Fast Food,Naranpura
6,Shree Purohit Snacks Bar and Cafe,3.3,4,100,Fast Food,Naranpura
7,Ali Baba Chai N Snacks,3.6,3,200,Fast Food,Maninagar
8,Sandwich Adda,3.2,5,300,Fast Food,Paldi & Ambawadi
9,Akkad Bakkad Bombay Boo,3.7,1,150,Fast Food,Vastrapur
10,Milan Frankie,3.2,7,200,Fast Food,Naranpura
11,Junior & Senior Burger,3.1,6,200,Fast Food,Paldi & Ambawadi
12,Eggs Point,3.7,77,200,Fast Food,Gandhinagar
13,Hero Sandwiches,3.6,7,200,Fast Food,Chandkheda
14,Nanka's Kitchen,3.2,5,100,Fast Food,Chandkheda